<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${criminalGroup.id == null ? 'Add Criminal Group' : 'Update Criminal Group'}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2 class="mb-4" th:text="${criminalGroup.id == null ? 'Add Criminal Group' : 'Update Criminal Group'}"></h2>
    <form th:action="${criminalGroup.id == null ? '/criminalGroup/criminalGroupSave' : '/criminalGroup/criminalGroupUpdate/' + criminalGroup.id}" method="post">

        <div class="form-group">
            <label for="groupName">Group Name:</label>
            <input type="text" class="form-control" id="groupName" name="groupName" th:value="${criminalGroup.groupName}" required>
        </div>

        <div class="form-group">
            <label for="leaderName">Leader Name:</label>
            <input type="text" class="form-control" id="leaderName" name="leaderName" th:value="${criminalGroup.leaderName}"required>
        </div>

        <div class="form-group">
            <label for="activities">Activities:</label>
            <input type="text" class="form-control" id="activities" name="activities" th:value="${criminalGroup.activities}">
        </div>

        <div class="form-group">
            <label for="isMafia">Is Mafia:</label>
            <input type="checkbox" class="form-control" id="isMafia" name="isMafia" th:field="${criminalGroup.mafia}" />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>

    </form>

    <div class="mt-2">
        <a class="btn btn-secondary" href="/criminalGroup/listOfAllCriminalGroups">Cancel</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
