<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criminals List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #f5f5f5;
        }

        .container {
            width: 100%;
            max-width: 1700px;
            padding: 20px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

    </style>
</head>
<body>
<div class="container">
    <h2 class="mb-4">Criminals list</h2>

    <div>
        <button class="btn btn-sm btn-warning"
                th:onclick="|window.location.href='/criminal/listOfArchivedCriminals'|">Archived criminals
        </button>
    </div>
    <br>
    <div>
        <button sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm btn-primary"
                th:onclick="|window.location.href='/criminal/criminalAdd'|">Add new criminal
        </button>
    </div>

    <div class="form-group">
        <label for="searchInput"></label><input type="text" id="searchInput" class="form-control"
                                                placeholder="Search...">
    </div>

    <div class="container" th:include="criminal/search_form :: searchForm"></div>
<br>
    <div class="container" th:include="criminal/list_form :: listForm"></div>
    <div class="container" th:include="criminal/delete_confirmation_form :: deleteConfirmationForm"></div>

<div class="mt-4">
    <button class="btn btn-primary" onclick="window.location.href='/';">Back</button>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            let searchValue = $(this).val().toLowerCase();
            let showDead = $("#deadCheckbox").prop("checked");

            $("#tableBody tr").each(function () {
                let isDeadRow = $(this).find("td").eq(14).find("i.fa-ban").length > 0;
                let rowText = $(this).text().toLowerCase();

                if ((!showDead || isDeadRow) && rowText.includes(searchValue)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });

        $('#deleteConfirmationModal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget);
            let deleteLink = button.data('delete-link');

            let modal = $(this);
            modal.find('#deleteUserLink').attr('href', deleteLink);
        });
    });
</script>
</body>
</html>
