<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criminal Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #f5f5f5;
        }

        .container {
            width: 100%;
            max-width: 1200px;
            padding: 20px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="container">
    <h2 class="mb-4">Criminal Details</h2>

    <table class="table">
        <tbody>
        <tr>
            <th>ID:</th>
            <td th:text="${criminal.id}"></td>
        </tr>
        <tr>
            <th>First Name:</th>
            <td th:text="${criminal.firstName}"></td>
        </tr>
        <tr>
            <th>Hair Color:</th>
            <td th:text="${criminal.hairColor}"></td>
        </tr>
        <tr>
            <th>Distinguishing Features:</th>
            <td th:text="${criminal.distinguishingFeatures}"></td>
        </tr>
        <tr>
            <th>Nationality:</th>
            <td th:text="${criminal.nationality}"></td>
        </tr>
        <tr>
            <th>Birth Date:</th>
            <td th:text="${criminal.birthDate}"></td>
        </tr>
        <tr>
            <th>Last Known Address:</th>
            <td th:text="${criminal.lastKnownAddress}"></td>
        </tr>
        <tr>
            <th>Languages:</th>
            <td th:text="${criminal.languages}"></td>
        </tr>
        <tr>
            <th>Criminal Profession:</th>
            <td th:text="${criminal.criminalProfession}"></td>
        </tr>
        <tr>
            <th>Last Crime Details:</th>
            <td th:text="${criminal.lastCrimeDetails}"></td>
        </tr>
        <tr>
            <th>Is Archived:</th>
            <td th:text="${criminal.isArchived}"></td>
        </tr>
        <tr>
            <th>Is Dead:</th>
            <td th:text="${criminal.isDead}"></td>
        </tr>


        <th:block th:if="${criminal.criminalGroup != null}">
            <tr>
                <th>Criminal Group ID:</th>
                <td th:text="${criminal.criminalGroup.id}"></td>
            </tr>
            <tr>
                <th>Criminal Group:</th>
                <td th:text="${criminal.criminalGroup.groupName}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <h1 th:if="${member != null}">Partners</h1>

    <table class="table table-bordered" th:if="${member != null}">
        <thead>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>NickName</th>
            <th>Height</th>
            <th>Distinguishing features</th>
            <th>Nationality</th>
            <th>Profession</th>
            <th>Crime Details</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="member : ${member}" >
            <tr>
                <td th:text="${member.id}"></td>
                <td th:text="${member.firstName}"></td>
                <td th:text="${member.lastName}"></td>
                <td th:text="${member.nickname}"></td>
                <td th:text="${member.height}"></td>
                <td th:text="${member.distinguishingFeatures}"></td>
                <td th:text="${member.nationality}"></td>
                <td th:text="${member.criminalProfession}"></td>
                <td th:text="${member.lastCrimeDetails}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <div class="mt-4">
        <button class="btn btn-primary" onclick="goBack()">Back</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>
