<div th:fragment="listForm" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Nickname</th>
                <th>Height</th>
                <th>Hair color</th>
                <th>Eye color</th>
                <th>Distinguishing features</th>
                <th>Nationality</th>
                <th>Birth Date</th>
                <th>Address</th>
                <th>Languages</th>
                <th>Profession</th>
                <th>Crime Details</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="tableBody">
            <tr th:each="criminal : ${criminalList}">
                <td th:text="${criminal.id}"></td>
                <td th:text="${criminal.firstName}"></td>
                <td th:text="${criminal.lastName}"></td>
                <td th:text="${criminal.nickname}"></td>
                <td th:text="${criminal.height}"></td>
                <td th:text="${criminal.hairColor}"></td>
                <td th:text="${criminal.eyeColor}"></td>
                <td th:text="${criminal.distinguishingFeatures}"></td>
                <td th:text="${criminal.nationality}"></td>
                <td th:text="${criminal.birthDate}"></td>
                <td th:text="${criminal.lastKnownAddress}"></td>
                <td th:text="${criminal.languages}"></td>
                <td th:text="${criminal.criminalProfession}"></td>
                <td th:text="${criminal.lastCrimeDetails}"></td>

                <td>
                    <button class="btn btn-info"
                            th:onclick="|window.location.href='/criminal/criminalDetails/${criminal.id}'|">
                        <i class="fas fa-info-circle icon-style"></i>
                    </button>

                    <button sec:authorize="hasAuthority('ADMIN')" class="btn btn-primary"
                            th:onclick="|window.location.href='/criminal/criminalUpdate/${criminal.id}'|">
                        <i class="fas fa-edit icon-style"></i>
                    </button>

                    <button sec:authorize="hasAuthority('ADMIN')" class="btn btn-danger"
                            th:if="${criminal.dead}"
                            data-toggle="modal"
                            data-target="#deleteConfirmationModal"
                            th:data-delete-link="@{'/criminal/criminalDelete/' + ${criminal.id}}">
                        <i class="fas fa-ban icon-style"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>